/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  /* hsl (fallback color) */
  --bg-dark: hsl(224 0% 90%);
  --bg: hsl(224 0% 95%);
  --bg-light: hsl(224 100% 100%);
  --text: hsl(224 0% 4%);
  --text-muted: hsl(224 0% 28%);
  --highlight: hsl(224 100% 100%);
  --border: hsl(224 0% 50%);
  --border-muted: hsl(224 0% 62%);
  --primary: hsl(62 35% 57%);
  --secondary: hsl(248 66% 79%);
  --danger: hsl(9 21% 41%);
  --warning: hsl(52 23% 34%);
  --success: hsl(147 19% 36%);
  --info: hsl(217 22% 41%);
  /* oklch */
  --bg-dark: oklch(0.92 0 110);
  --bg: oklch(0.96 0 110);
  --bg-light: oklch(1 0 110);
  --text: oklch(0.15 0 110);
  --text-muted: oklch(0.4 0 110);
  --highlight: oklch(1 0 110);
  --border: oklch(0.6 0 110);
  --border-muted: oklch(0.7 0 110);
  --primary: oklch(0.76 0.1 110);
  --secondary: oklch(0.76 0.1 290);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);

  --box-shadow: 0.1rem 0.1rem 0.5rem var(--text-muted);
}

body.dark {
  /* hsl (fallback color) */
  --bg-dark: hsl(224 0% 1%);
  --bg: hsl(224 0% 4%);
  --bg-light: hsl(224 0% 9%);
  --text: hsl(224 0% 95%);
  --text-muted: hsl(224 0% 69%);
  --highlight: hsl(224 0% 39%);
  --border: hsl(224 0% 28%);
  --border-muted: hsl(224 0% 18%);
  --primary: hsl(60 100% 11%);
  --secondary: hsl(252 34% 36%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
  /* oklch */
  --bg-dark: oklch(0.1 0 110);
  --bg: oklch(0.15 0 110);
  --bg-light: oklch(0.2 0 110);
  --text: oklch(0.96 0 110);
  --text-muted: oklch(0.76 0 110);
  --highlight: oklch(0.5 0 110);
  --border: oklch(0.4 0 110);
  --border-muted: oklch(0.3 0 110);
  --primary: oklch(0.4 0.1 110);
  --secondary: oklch(0.4 0.1 290);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);

  --box-shadow: 0.1rem 0.1rem 0.5rem var(--text-muted);

  img {
    filter: invert(1);
  }
}

.theme-button {
  background-color: var(--bg-light);
  position: fixed;
  right: 1rem;
  top: 0.5rem;
  padding: 0.2rem 0.5rem;
  border: 0.1rem solid var(--border);
  border-radius: 0.5rem;
}

.theme-button:hover {
  background-color: var(--bg);
  border-color: var(--highlight);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-dark);
  color: var(--text);
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header,
footer {
  background-color: var(--secondary);
  text-align: center;
  padding: 1em;
}

main {
  flex: 1;
  background: linear-gradient(var(--bg-light), var(--bg-dark) 100%);
  overflow-y: scroll;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

button {
  background-color: var(--secondary);
  color: var(--text);
  padding: 0.2rem 0.5rem;
  border: 0.1rem solid var(--border);
  border-radius: 0.5rem;
}

div.display-control {
  background-color: var(--bg-light);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  position: sticky;
  top: -0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button:hover {
  border-color: var(--highlight);
  background-color: var(--primary);
  cursor: pointer;
}

img#close-dialog-button {
  src: var(--close-dialog-button);
}

img:hover {
  cursor: pointer;
}

#display {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25ch, 1fr));
  justify-content: center;
  gap: 1rem;
}

.card {
  padding: 1rem;
  background: linear-gradient(var(--bg-light), var(--bg-dark) 100%);
  border-radius: 0.5rem;
  border: 0.07rem solid var(--border);
  border-top: var(--highlight);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;

  div+div {
    margin-top: 1rem;
  }

  p {
    color: var(--text-muted);
  }

  p:first-child {
    margin-bottom: 1rem;
  }

  .infoContainer {
    flex: 1;
  }

  .cardButtonContainer {
    display: flex;
    justify-content: space-between;
  }
}

.card:hover {
  background: linear-gradient(var(--secondary), var(--bg) 50%);
}

dialog {
  color: var(--text);
  padding: 0;
  border-radius: 0.5rem;
  border: 0.07rem solid var(--border);
  border-top: var(--highlight);
  box-shadow: var(--box-shadow);
  position: absolute;
  left: 50%;
  top: 33%;
  transform: translate(-50%, -50%);

  .dialog-header {
    padding: 0.5rem;
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;


    .close-button {
      border-radius: 50%;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  form {
    padding: 2rem;
    background: linear-gradient(var(--bg-light), var(--bg-dark) 100%);

    div+div {
      margin-top: 1rem;
    }

    .form-inputs {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 1rem;

      input[type='number'] {
        width: 7ch;
      }
    }

    .form-checkbox,
    .form-button-container {
      display: flex;
      gap: 1rem;
      justify-content: center;
    }
  }
}

::backdrop {
  background-image: var(--bg-light);
  backdrop-filter: blur(0.25rem);
}

input:user-invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}